.button {
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-accent);
  background-color: var(--color-background);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    border-color: transparent;
    background-color: var(--color-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    pointer-events: none;
  }
}
