.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
  transition: transform 0.2s linear;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  height: 90%;
}

.card:hover {
  transform: scale(1.02);
}

.info {
  margin: 5px;
}
