.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-card-bg);
  cursor: pointer;
  transition: all 0.2s linear;
}

.card:hover {
  transform: scale(1.02);
}

.info {
  margin: 5px;
}

.checkbox {
  height: 25px;
}
